* @mobiman1 @scottdet @leo-2408 @SatoshiNaoki @kgusdorf

# These owners will be the default owners for everything in the repo

# Order is important; the last matching pattern takes the most precedence
