.cardBody {
  background: #f2f2f2;
  border: 0.159898px solid #d2d2d2;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  width: 45px;
  height: 63px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media (max-width: 767px) and (display-mode: standalone) {
    width: 32px;
    height: 45px;
  }

  div {
    font-size: 28px;
    font-weight: bold;
    @media (max-width: 767px) and (display-mode: standalone) {
      font-size: 16px;
    }
  }

  .red {
    color: red;
  }

  .black {
    color: black;
  }
}
