@import 'styles/base.scss';
@import "/styles/mixins";

.container {
  display: flex;
  justify-content: center;

  .button_connect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    height: 68px;
    width: calc(100vw - 48px);
    max-width: 400px;
    background: #006eff;
    border-radius: 12px;
    bottom: 24px;
    transition: all 0.25s ease;
    border: none;
  }

  /* fix sticky hover on mobile */
  @media (hover: hover) {
    .button_connect:hover {
      cursor: pointer;
      background-color: #006eff;
      color: white;
      filter: brightness(0.8);
      transition: all 0.25s ease;
    }
  }

  .button_connect:active {
    cursor: pointer;
    background-color: #006eff;
    color: white;
    filter: brightness(0.8);
    transition: all 0.25s ease;
  }

  .button_span {
    display: flex;
    justify-content: center;
    @include media-tablet768 {
      width: 100%;
      align-items: center;
    }
    .button_image {
      display: flex;
      margin-top: 18px;
      height: 35px;
      margin-left: -24px;
      margin-right: 24px;
      @include media-tablet768 {
        margin-top: 0px;
      }
    }

    .button_text {
      font-family: Larsseit-Bold;
      font-size: 18px;
      color: white;
      line-height: 40px;
      @include media-tablet768 {
        font-size: 22px;
      }
    }

    .chip_image {
      margin-left: 7px !important;
      margin-top: -1px !important;
    }
  }
}
