.close {
  cursor: pointer;
  background: #1f1f1f;
  position: absolute;
  border: 1px solid #2a2a2a;
  box-sizing: border-box;
  box-shadow: 0px 10.6667px 21.3333px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  z-index: 15;
  top: -195px;
  left: 135px;
  transition: background 0.3s;
  &:hover {
    background: #333333;
  }
}

.dialog {
  top: -180px;
  position: absolute;
  left: -90px;
  background: #1f1f1f;
  border-radius: 24px;
  padding: 16px;
  overflow: hidden;
  width: 249px;
  height: 230px;
  transition: opacity 0.3s;

  span {
    font-size: 9px;
    color: rgb(255, 255, 255, 0.75);
    margin-top: 4px;
  }
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.itemContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iceLabel {
  margin-bottom: 4px;
}

.xpLabel {
  margin-bottom: 4px;
  margin-top: -4px;
}

.dgLabel {
  margin-bottom: 2px;
}

.userItemsContainer {
  display: flex;
  margin-top: 8px;
}

.userItemContainer {
  margin-right: 8px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userItemImgContainer {
  width: 37px;
  height: 37px;
}

.itemField {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  flex-direction: column;
  font-size: 11px;
  font-style: italic;
  line-height: 15px;
  color: white;
  width: 62px;
  height: 55px;
  margin-top: 8px;
}

.noneItem {
  background: radial-gradient(50% 50% at 50% 50%, #979797 0%, #6f6f6f 100%);
  border-radius: 8px;
  width: 37px;
  height: 37px;
}
