@mixin mixin_dialog {
  max-width: 448px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background: #1f1f1f;
  border-radius: 16px 16px 0px 0px;
  padding: 0px 24px 0px 24px;
}

@mixin mixin_play_text {
  font-family: Larsseit;
  font-size: 18px;
  text-align: center;
  color: white;
}

.main {
  max-width: 100vw;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2a2a;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
}

.gradient {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.back {
  max-width: 448px;
  max-height: 682px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dnzambf4m/image/upload/v1643833574/Poker_Table_sg4gkg.png');
  background-size: 100% 100%;
  color: white;
}

.welcome_text {
  margin: 24px 0px 24px 0px;
  font-family: Larsseit-ExtraBold;
  font-size: 24px;
  text-align: center;
  color: white;
  line-height: 32px;
  height: fit-content;
}

.close {
  top: -55px;
  left: 10px;
  position: absolute;
  background: #1f1f1f;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  color: white;
}

.button_container {
  @include mixin_dialog;
  height: 433px;

  .play_text {
    @include mixin_play_text;
  }

  .image_span {
    display: flex;
    justify-content: center;

    .image_grouping {
      margin-top: 16px;

      .lower_text {
        margin-top: 0px;
        font-family: Larsseit-Bold;
        color: white;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
      }
    }

    .wearable_image {
      width: 100px;
      height: 92px;
      margin: -4px 0px 0px 0px;
    }

    .card_image {
      width: 82px;
      height: 88px;
      margin: -4px 18px 4px 26px;
    }

    .diamond_image {
      width: 100px;
      height: 74px;
      margin: -6px 0px 20px 0px;
    }
  }
}

.button_container_two {
  @include mixin_dialog;
  height: 518px;

  .wearable_image_two {
    display: flex;
    margin: -10px 0px -10px 0px;
    width: 100%;
  }

  .play_text {
    @include mixin_play_text;
    margin-top: -4px;
  }
}

.activate_wearable {
  @include mixin_dialog;
  height: 520px;

  .locked_wearable {
    margin-left: calc(50% - 95px);
    margin-top: -10px;
    width: 190px;
    height: 190px;
    position: relative;

    .locked_wearable_image {
      width: 100%;
      height: 100%;
    }
  
    .locked_wearable_amount_container {
      width: 60px;
      height: 60px;
      padding-top: 2px;
      border-radius: 30px;
      left: 20px;
      bottom: 16px;
      background-color: rgba(0, 0, 0, 0.75);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .locked_wearable_amount {
        width: fit-content;
        height: fit-content;
        font-family: Larsseit-Bold;
        font-size: 30px;
        color: white;
      }
    }
  }

  .play_text {
    @include mixin_play_text;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.no_wearables_check_in {
  @include mixin_dialog;
  height: 590px;

  .titles {
    display: flex;
    justify-content: space-between;

    .title {
      margin-top: 2px;
      font-family: Larsseit-Bold;
      font-size: 15px;
      color: white;
    }
  
    .highlighted_title {
      display: flex;
      margin-top: 2px;
      font-family: Larsseit-Bold;
      font-size: 12px;
      color: #509bff;
    }
  }

  .wear_items {
    display: flex;
    margin-bottom: 20px;

    .wear_item {
      width: 60px;
      height: fit-content;
      position: relative;

      .chip {
        justify-content: center;
        margin-bottom: 3px;
        display: flex;

        .chip_amount {
          margin: 0px 0px 0px 0px;
          width: fit-content;
          height: fit-content;
          font-family: Larsseit-Bold;
          font-size: 13px;
          color: white;
        }

        .chip_image {
          display: flex;
          margin-left: 2px !important;
          margin-top: -4px !important;
        }
      }

      .wear_item_image_container {
        width: 100%;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: center;
  
        .wear_item_image {
          width: 100%;
          height: 100%;
        }
      
        .wear_item_quantity_container {
          width: 20px;
          height: 20px;
          padding-top: 4px;
          border-radius: 10px;
          left: 5px;
          bottom: 5px;
          background-color: rgba(0, 0, 0, 0.75);
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
    
          .wear_item_quantity {
            width: fit-content;
            height: fit-content;
            font-family: Larsseit-Bold;
            font-size: 14px;
            color: white;
          }
        }

        .wear_item_status_container {
          top: 4px;
          position: absolute;
          width: fit-content;
          padding: 0px 4px 0px 4px;
          height: 16px;
          border-radius: 8px;
          background-color: rgba(0, 0, 0, 0.75);
          display: flex;
          align-items: center;
          justify-content: center;
    
          .wear_item_status {
            width: fit-content;
            height: fit-content;
            font-family: Larsseit-Bold;
            font-size: 8px;
            color: white;
          }
        }
      }

      .diamond {
        justify-content: center;
        display: flex;
        margin-top: 6px;

        .diamond_amount {
          margin: 0px 0px 0px 0px;
          width: fit-content;
          height: fit-content;
          font-family: Larsseit-Bold;
          font-size: 13px;
          color: white;
          opacity: 0.75;
        }

        .diamond_image {
          display: flex;
          margin-left: 2px !important;
          margin-top: -3px !important;
        }
      }
    }
  }

  .play_text {
    @include mixin_play_text;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}