@import '/styles/mixins';

.playerCircle {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 72px;
  height: 72px;
  border: 6px solid #292929;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.whiteBorder {
    border-color: white;
  }
}

.inactivePlayer {
  opacity: 0.4;
}

.playerInfo {
  margin-top: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-family: Larsseit-Bold;
  font-size: 13px;

  .inactiveColor {
    color: #9a9a9a;
    opacity: 0.75;
  }

  .chipForStack {
    font-size: 15px;
    font-family: Larsseit-Bold;
    margin-top: 2px;

    &:nth-of-type(1) {
      color: #ffffffbf;
      text-align: center;
      font-family: Larsseit-Bold;
    }

    &:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .betAmount {
      font-family: Larsseit-Bold;
      color: white;
      margin-bottom: 2px;
    }
  }
}

.raiseMoney {
  display: flex;
  padding: 3px 0px 0px 3px;
  z-index: 2;
  position: absolute;
  width: 53px;
  height: 24px;
  background: #ecfc7d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 29px;
  align-items: center;
  justify-content: center;
}

.raiseAmount {
  font-family: Larsseit-Bold;
  color: black;
}

.spinCircle {
  position: absolute;
  left: -9px;
  top: -9px;
}

.gradient {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 0px 0px 36px #ffe976;
}

.chipImage {
  margin-left: 3px !important;
  margin-top: -1px !important;
}

.cardBackContainer {
  display: flex;
  margin-top: -108px;
  margin-left: 5px;
}

.cardContainer {
  display: flex;
  margin-top: -125px;
  margin-left: -17px;
  @include media-tablet768-pwa {
    margin-top: -115px;
    margin-left: -2px;
  }
}

.winnerCardContainer {
  position: absolute;
  display: flex;
  margin-top: -135px;
  margin-left: 50%;
  transform: translateX(-50%);
  @include media-tablet768-pwa {
    margin-top: -118px;
    margin-left: -6px;
  }

  .winnerCardFrame {
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: transparent;
  }
}

.dealerChip {
  position: relative;
}

.gradient {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 0px 0px 36px #ffe976;
}

.fullhouse {
  z-index: 20;
  position: absolute;
  top: 0;
  color: white;
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 16px;
  background: #d96060;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  width: fit-content;
  // @include media-tablet768-pwa  {
  //  left:50%;
  //  white-space: nowrap;
  //  transform: translateX(-50%);
  // }

  &.blueBackground {
    background: #2684ff;
  }
}

.chipForBet {
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #ecfc7d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  padding: 2px 10px 0px 10px;
  border-radius: 15px;
  height: 30px;

  .chipImage {
    width: 12px;
    margin-left: 3px !important;
    margin-top: 2px !important;
  }

  &:nth-of-type(1) {
    display: flex;
  }

  .betAmount {
    font-family: Larsseit-Bold;
    color: black;
  }
}

.characterPos0 {
  left: calc(50% + 110px);
  top: 360px;
  @include media-tablet768 {
    left: calc(50% - 36px);
    top: 510px;
  }
  @include media-phone428 {
    top: 500px;
  }
  @include media-phone390 {
    top: 430px;
  }
  @include media-phone375 {
    top: 400px;
  }
  @include media-tablet768-pwa {
    top: 500px !important;
    left: calc(50% - 35px) !important;
  }
  @include media-phone390-pwa {
    top: 510px !important;
  }

  @include media-desktop768-pwa {
    left: calc(50% + 110px) !important;
    top: 52vh !important;
  }

  .chipForBetContainer {
    z-index: inherit;
    width: 100%;
    top: -90px;
    position: absolute;
    display: flex;
    justify-content: center;
    @include media-tablet768 {
      top: -80px;
    }
  }
}

.characterPos5 {
  left: calc(50% - 190px);
  top: 360px;
  @include media-tablet768 {
    left: calc(50% - 155px);
    top: 380px;
  }
  @include media-phone390 {
    top: 340px;
  }
  @include media-tablet768-pwa {
    left: calc(50% - 155px) !important;
    top: 50vh !important;
  }
  @include media-desktop768-pwa {
    top: 52vh !important;
    left: calc(50% - 145px) !important;
  }

  .chipForBetContainer {
    z-index: inherit;
    left: 64px;
    top: 22px;
    position: absolute;
    display: flex;
    justify-content: center;
    @include media-desktop768 {
      top: -90px;
      left: 0px;
      width: 100%;
    }
  }
}
.characterPos4 {
  left: calc(50% - 310px);
  top: 200px;
  @include media-tablet768 {
    left: calc(50% - 155px);
    top: 190px;
  }
  @include media-phone390 {
    top: 150px;
  }
  @include media-tablet768-pwa {
    top: 24vh !important;
    left: calc(50% - 155px) !important;
  }
  @include media-desktop768-pwa {
    top: 30vh !important;
    left: calc(50% - 305px);
  }

  .chipForBetContainer {
    z-index: inherit;
    left: 64px;
    top: 22px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}
.characterPos3 {
  left: calc(50% - 190px);
  top: 55px;
  @include media-tablet768 {
    left: calc(50% - 36px);
    top: 30px;
  }
  @include media-phone428 {
    top: 50px;
  }
  @include media-phone390 {
    top: 30px;
  }
  @include media-tablet768-pwa {
    top: 6vh !important;
    left: calc(50% - 35px) !important;
  }
  @include media-phone390-pwa {
    top: 11vh !important;
  }
  @include media-desktop768-pwa {
    top: 8vh !important;
    left: calc(50% - 145px) !important;
  }

  .chipForBetContainer {
    z-index: inherit;
    width: 100%;
    top: 105px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}
.characterPos2 {
  left: calc(50% + 110px);
  top: 55px;
  @include media-tablet768 {
    left: calc(50% + 90px);
    top: 190px;
  }
  @include media-phone428 {
    left: calc(50% + 90px);
  }
  @include media-phone390 {
    top: 150px;
    left: calc(50% + 90px);
  }
  @include media-tablet768-pwa {
    top: 24vh !important;
    left: calc(50% + 80px) !important;
  }
  @include media-desktop768-pwa {
    top: 8vh !important;
  }

  .chipForBetContainer {
    z-index: inherit;
    right: 62px;
    top: 22px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}
.characterPos1 {
  left: calc(50% + 230px);
  top: 200px;
  @include media-tablet768 {
    left: calc(50% + 90px);
    top: 380px;
  }
  @include media-phone428 {
    left: calc(50% + 90px);
  }
  @include media-phone390 {
    top: 340px;
    left: calc(50% + 90px);
  }
  @include media-tablet768-pwa {
    left: calc(50% + 80px) !important;
    top: 50vh !important;
  }
  @include media-desktop768-pwa {
    /* only apply if app is running standalone */
    left: calc(50% + 275px) !important;
    top: 30vh !important;
  }

  .chipForBetContainer {
    z-index: inherit;
    right: 62px;
    top: 22px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}

.chipsForEarning {
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: Larsseit-Bold;
  border-radius: 30px;
  padding: 1px 8px;
  top: calc(50% - 11px);
  left: calc(100% - 10px);
  z-index: 30;

  .chipsEarnAmount {
    color: black;
    font-size: 14px;
    line-height: 19px;
  }

  .chipImage {
    width: 12px;
  }
}
