.playerCircle {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 72px;
  height: 72px;
  border: 6px solid #292929;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.playerInfo {
  margin-top: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 13px;

  .chipForBet {
    font-size: 15px;
    &:nth-of-type(1) {
      color: #ffffffbf;
      text-align: center;
      font-weight: bold;
    }

    &:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .betAmount {
      padding-top: 2px;
      font-weight: bold;
      color: white;
      margin-bottom: 2px;
    }
  }
}

.raiseMoney {
  display: flex;
  padding: 3px 0px 0px 3px;
  z-index: 2;
  position: absolute;
  width: 53px;
  height: 24px;
  background: #ecfc7d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 29px;
  align-items: center;
  justify-content: center;
}

.raiseAmount {
  font-weight: bold;
  color: black;
}

.spinCircle {
  position: absolute;
  left: -9px;
  top: -9px;
}

.gradient {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 0px 0px 36px #ffe976;
}

.chipImage {
  margin-top: -1px !important;
}

.cardBackContainer {
  display: flex;
  margin-top: -108px;
  margin-left: 5px;
}

.cardContainer {
  display: flex;
  margin-top: -125px;
  margin-left: -10px;
  @media (max-width: 767px) and (display-mode: standalone) {
    margin-top: -110px;
    margin-left: 7px;
  }
}

.winnerCardContainer {
  display: flex;
  margin-top: -135px;
  margin-left: -13px;
  @media (max-width: 767px) and (display-mode: standalone) {
    margin-top: -118px;
    margin-left: 0px;
  }

  .winnerCardFrame {
    padding: 1px;
  }
}

.dealerChip {
  position: relative;
}

.gradient {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 0px 0px 36px #ffe976;
}

.fullhouse {
  z-index: 20;
  position: absolute;
  top: 0;
  color: white;
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 16px;
  background: #d96060;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  width: fit-content;
  // @media (max-width: 767px) and (display-mode: standalone)  {
  //  left:50%;
  //  white-space: nowrap;
  //  transform: translateX(-50%);
  // }
}

.characterPos0 {
  left: calc(50% + 110px);
  top: 360px;
  @media (max-width: 767px) {
    left: calc(50% - 36px);
    top: 510px;
  }
  @media (max-width: 390px) {
    top: 430px;
  }

  @media (max-width: 767px) and (display-mode: standalone) {
    top: 64vh !important;
    left: calc(50% - 35px) !important;
  }
  @media (max-width: 390px) and (display-mode: standalone) {
    top: 60vh !important;
  }

  @media (min-width: 768px) and (display-mode: standalone) {
    left: calc(50% + 110px) !important;
    top: 52vh !important;
  }
}

.characterPos1 {
  left: calc(50% - 190px);
  top: 360px;
  @media (max-width: 767px) {
    left: calc(50% - 155px);
    top: 380px;
  }
  @media (max-width: 390px) {
    top: 340px;
  }
  @media (max-width: 767px) and (display-mode: standalone) {
    left: calc(50% - 155px) !important;
    top: 45vh !important;
  }
  @media (min-width: 768px) and (display-mode: standalone) {
    top: 56% !important;
    left: calc(50% - 145px) !important;
  }
}
.characterPos2 {
  left: calc(50% - 340px);
  top: 200px;
  @media (max-width: 767px) {
    left: calc(50% - 160px);
    top: 190px;
  }
  @media (max-width: 390px) {
    top: 150px;
  }
  @media (max-width: 767px) and (display-mode: standalone) {
    top: 24vh !important;
    left: calc(50% - 160px) !important;
  }
  @media (min-width: 768px) and (display-mode: standalone) {
    top: 30vh !important;
    left: calc(50% - 310px);
  }
}
.characterPos3 {
  left: calc(50% - 190px);
  top: 55px;
  @media (max-width: 767px) {
    left: calc(50% - 36px);
    top: 50px;
  }
  @media (max-width: 767px) and (display-mode: standalone) {
    top: 6vh !important;
    left: calc(50% - 35px) !important;
  }
  @media (max-width: 390px) and (display-mode: standalone) {
    top: 11vh !important;
  }
  @media (min-width: 768px) and (display-mode: standalone) {
    top: 7vh !important;
    left: calc(50% - 145px) !important;
  }
}
.characterPos4 {
  left: calc(50% + 110px);
  top: 55px;
  @media (max-width: 767px) {
    left: calc(50% + 90px);
    top: 190px;
  }
  @media (max-width: 390px) {
    top: 150px;
  }
  @media (max-width: 767px) and (display-mode: standalone) {
    top: 24vh !important;
    left: calc(50% + 80px) !important;
  }
  @media (min-width: 768px) and (display-mode: standalone) {
    top: 7vh !important;
  }
}
.characterPos5 {
  left: calc(50% + 260px);
  top: 200px;
  @media (max-width: 767px) {
    left: calc(50% + 90px);
    top: 380px;
  }
  @media (max-width: 390px) {
    top: 340px;
  }
  @media (max-width: 767px) and (display-mode: standalone) {
    left: calc(50% + 80px) !important;
    top: 45vh !important;
  }
  @media (min-width: 768px) and (display-mode: standalone) {
    /* only apply if app is running standalone */
    left: calc(50% + 300px) !important;
    top: 30vh !important;
  }
}
