@import '/styles/mixins';

.body {
  width: 100%;
  position: relative;
  margin-top: 0px;
  font-family: 'Larsseit';
  height: 100vh;

  .lowerContainer {
    position: absolute;
    bottom: 24px;
    left: calc(50vw - 180px);
  }

  @include media-all-pwa {
    margin-top: 50px;
    height: 100vh;
  }
  @include media-tablet768-pwa {
    margin-top: 0px;
  }
  @include media-phone390 {
    margin-top: 0px;
    height: 100vh;
  }
  .roundOverlay {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    position: absolute;
    z-index: 100;
  }

  .waitTime {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    margin-left: 48px;
    margin-top: 24px;
    position: absolute;
    @include media-tablet768 {
      font-size: 4rem;
      margin-left: 30px;
    }
    @include media-phone390 {
      font-size: 3rem;
      margin-left: 95px;
      margin-top: 18px;
    }
  }

  .potContainer {
    display: flex;
    position: relative;
    top: 165px;
    justify-content: center;
    z-index: 20;
    @include media-phone390 {
      top: 170px;
    }
    @include media-tablet768-pwa {
      top: 190px;
    }
    @include media-phone390-pwa {
      top: 220px;
    }
    @include media-desktop768-pwa {
      top: 160px;
      left: 50%;
      justify-content: flex-start;
    }

    .pot {
      position: relative;
      display: flex;
      justify-content: center;
      font-weight: bold;
      width: auto !important;

      .amount {
        color: white;
        margin-left: 4px;
      }
    }
  }

  .table {
    background-image: url('/images/Table-desktop.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: contain;
    position: absolute;
    top: 75px;
    left: calc(50% - 290px);
    @include media-desktop768 {
      height: 340px;
    }
    @include media-tablet768 {
      background-image: url('/images/Table-phone.png');
      max-width: 280px;
      left: calc(50% - 140px);
    }
    @include media-all-pwa {
      /* only apply if app is running standalone */
      height: 55vh;
      background-size: 100% 100%;
    }
    @include media-tablet768-pwa {
      height: 60vh;
      top: 75px;
    }

    @include media-phone390 {
      max-height: 450px;
      top: 40px;
      background-size: contain;
    }
    @include media-phone390-pwa {
      top: 107px;
      max-height: 460px;
    }
  }

  .links {
    display: flex;
    position: absolute;
    width: 70%;
    left: 15%;
    justify-content: space-between;
    top: 50px;
    z-index: 10;
    @include media-tablet768 {
      width: 340px;
      left: calc(50% - 170px);
    }
    @include media-phone390 {
      top: 25px;
    }

    .blackEllipse {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #2a2a2a;
      border-radius: 50%;
      color: #616161;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      right: 40px;
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
    }
  }

  .styledCommunityCard {
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    top: 195px;
    max-width: 300px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    @include media-tablet768 {
      max-width: 150px;
    }
    @include media-phone390 {
      max-width: 180px;
      top: 200px;
      left: 48%;
    }

    @include media-tablet768-pwa {
      max-width: 165px;
      top: 215px;
    }

    @include media-phone390-pwa {
      max-width: 170px;
      top: 265px;
    }

    @include media-desktop768-pwa {
      max-width: 400px;
      top: 190px;
      left: 53%;
    }

    .cardContainer {
      margin-right: 0.5;
      margin-left: 8px;
      margin-top: 8px;
      border-style: solid;
      border-width: 2px;
      border-radius: 7px;
      @include media-desktop768-pwa {
        margin-left: 15px;
      }
    }
  }

  .buttonContainerParent {
    display: flex;
    justify-content: center;
    @include media-all-pwa {
      /* only apply if app is running standalone */
      height: 65vh;
    }
  }

  .buttonContainerParentBottom {
    display: flex;
    justify-content: center;

    @include media-tablet768 {
      margin-top: 57px;
    }
    @include media-phone390 {
      margin-top: 0px;
    }
    @include media-desktop768 {
      margin-top: 0px;
    }
    @include media-desktop768-pwa {
      margin-top: 40px;
    }
    @include media-phone390-pwa {
      margin-top: -40px;
    }
  }

  .turnButtonContainer {
    padding-top: 575px;
    padding-left: 20px;
    padding-right: 20px;
    width: 374px;
    @include media-tablet768-pwa {
      /* only apply if app is running standalone */
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      width: auto;
      margin-top: 60vh;
    }

    @include media-phone390 {
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      width: auto;
      margin-top: 80vh;
    }
    @include media-desktop768-pwa {
      padding-top: 410px;
    }
    .turnButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 11px;

      width: 110px;
      height: 31px;

      border: 1px solid #67dd6c;
      box-sizing: border-box;
      border-radius: 8px;
      cursor: pointer;

      margin-left: 232px;
      margin-top: -30px;
      z-index: 10;
      position: absolute;
      @include media-tablet768 {
        margin-top: 0px;
      }
      @include media-tablet768-pwa {
        margin-left: 70px;
        margin-top: 40px;
      }
      @include media-desktop768 {
        margin-top: -100px;
        margin-left: 350px;
      }
      @include media-desktop768-pwa {
        margin-top: 60px;
      }
      @include media-phone390-pwa {
        margin-top: 18px;
      }
      .dot {
        margin-top: 0px;
        margin-left: 4px;
        background: #00ff0a;
        box-shadow: 0px 0px 4px rgba(4, 235, 68, 0.5);
        border-radius: 50%;
        width: 7px;
        height: 7px;
      }

      .title {
        margin-top: 2px;
        text-align: center;
        color: white;
        font-size: 11px;
      }
    }
  }

  .progressContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @include media-all-pwa {
      /* only apply if app is running standalone */
      margin-bottom: 0px;
    }

    @include media-desktop768 {
      margin-bottom: 0px;
      margin-top: -25px;
    }
    @include media-desktop768-pwa {
      margin-top: 5px;
    }

    .progress {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      span {
        color: #ffffffbf;
        font-size: 8px;
        line-height: normal;
        font-weight: normal;
      }
    }
  }

  .actionButtonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    opacity: 1;
    @include media-tablet768 {
      margin-top: 0px;
    }
    @include media-all-pwa {
      /* only apply if app is running standalone */
      margin-top: 2vh;
    }
    @include media-phone390-pwa {
      margin-top: 12vh;
    }
    button {
      display: inline-block;
      border-radius: 8px;
      border-width: 0px;
      width: 110px;
      height: 60px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      margin: 5px;
      color: white;
      @include media-phone390 {
        width: 110px;
        height: 65px;
      }

      &:nth-of-type(1) {
        background: #a82822;
        box-shadow: 0 4px #92120c;
        &:hover {
          background-color: #6a1a16;
        }
        &:active {
          background-color: #a82822;
          box-shadow: 4px #92120c;
        }
        &:disabled {
          background-color: #a82822;
          box-shadow: 4px #92120c;
          opacity: 0.4;
        }
      }
      &:nth-of-type(2) {
        background: #3d86a6;
        box-shadow: 0 4px #267ca1;
        &:hover {
          background-color: #306a82;
        }
        &:active {
          background-color: #3d86a6;
          box-shadow: 4px #267ca1;
        }
        &:disabled {
          background-color: #3d86a6;
          box-shadow: 4px #267ca1;
          opacity: 0.4;
        }
      }
      &:nth-of-type(3) {
        background: #3da65a;
        box-shadow: 0 4px #2b8c46;
        &:hover {
          background-color: #308247;
        }
        &:active {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
        }
        &:disabled {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
          opacity: 0.4;
        }
      }
      &:nth-of-type(4) {
        background: #3da65a;
        box-shadow: 0 4px #2b8c46;
        &:hover {
          background-color: #308247;
        }
        &:active {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
        }
        &:disabled {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
          opacity: 0.4;
        }
      }
    }
  }

  .wonImageContainer {
    position: absolute;
    left: calc(50% - 90px);
    top: 520px;
    .potValueText {
      position: absolute;
      top: 85px;
      left: 46%;
      font-weight: 800;
      font-size: 11px;
      line-height: 13.13px;
      color: #fff;
      @include media-desktop768-pwa {
        top: 70px;
      }

      @include media-tablet768-pwa {
        top: 71px;
      }

      @include media-phone390-pwa {
        top: 72px;
      }
    }
    @include media-phone390 {
      top: 570px;
    }
    @include media-desktop768-pwa {
      top: 570px;
    }
    @include media-tablet768-pwa {
      top: 595px;
    }
    @include media-phone390-pwa {
      top: 715px;
    }
  }
}

.button_fold {
  display: inline-block;
  width: 10rem;
  height: 4.2rem;
  margin: 3px;
  padding: auto;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 1rem;

  background-color: #a82822;
  box-shadow: 0 8px #92120c;
  &:hover {
    background-color: #6a1a16;
  }
  &:active {
    background-color: #a82822;
    box-shadow: 8px #92120c;
  }
  transform: translateY(4px);
}

.button_check {
  display: inline-block;
  width: 10rem;
  height: 4.2rem;
  margin: 3px;
  padding: auto;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 1rem;

  background-color: #3d86a6;
  box-shadow: 0 8px #267ca1;
  &:hover {
    background-color: #306a82;
  }
  &:active {
    background-color: #3d86a6;
    box-shadow: 8px #267ca1;
  }
  transform: translateY(4px);
}

.button_bet {
  display: inline-block;
  width: 10rem;
  height: 4.2rem;
  margin: 3px;
  padding: auto;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 1rem;

  background-color: #3da65a;
  box-shadow: 0 8px #2b8c46;
  &:hover {
    background-color: #308247;
  }
  &:active {
    background-color: #3da65a;
    box-shadow: 8px #2b8c46;
  }
  transform: translateY(4px);
}
.playerInfo {
  margin-top: -90px;
  position: absolute;
  left: 18%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 13px;

  .chipForBet {
    font-size: 15px;
    .betAmount {
      padding-top: 2px;
      font-weight: bold;
      color: white;
      margin-bottom: 2px;
    }
  }
  @include media-tablet768 {
    left: calc(50% - 150px);
    margin-top: 35px;
  }
  @include media-phone390 {
    margin-top: -40px;
    transform: translateX(-15%);
  }
  @include media-phone390-pwa {
    margin-top: 15px;
  }
  @include media-desktop768-pwa {
    margin-top: 60px;
  }
}
