@mixin media-gte-sm {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-ltl-xm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

.body {
  width: 100%;
  position: relative;
  margin-top: 72px;
  font-family: 'Larsseit';
  height: calc(100vh - 72px);
  @media all and (display-mode: standalone) {
    /* only apply if app is running standalone */
    margin-top: 50px;
    height: calc(100vh - 50px);
  }
  @media screen and (max-width: 767px) and (display-mode: standalone) {
    margin-top: 0px;
  }

  .roundOverlay {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
    position: absolute;
    z-index: 100;
  }

  .waitTime {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    margin-left: 48px;
    margin-top: 24px;
    position: absolute;
  }

  .potContainer {
    display: flex;
    position: relative;
    top: 210px;
    justify-content: center;
    z-index: 99;

    .pot {
      position: relative;
      display: flex;
      justify-content: center;
      font-weight: bold;
      width: auto !important;

      .amount {
        color: white;
        margin-left: 4px;
      }
    }
  }

  .table {
    background-image: url('/images/Table-desktop.svg');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 760px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: calc(50% - 380px);
    @include media-ltl-xm {
      background-image: url('/images/Table.svg');
      max-width: 374px;
      height: 578px;
      left: calc(50% - 187px);
    }
    @media all and (display-mode: standalone) {
      /* only apply if app is running standalone */
      height: 55vh;
      background-size: 100% 100%;
    }
    @media screen and (max-width: 767px) and (display-mode: standalone) {
      height: 70vh;
      top: 40px;
    }
  }

  .links {
    display: flex;
    position: absolute;
    width: 70%;
    left: 15%;
    justify-content: space-between;
    top: 50px;
    z-index: 10;
    @include media-ltl-xm {
      width: 340px;
      left: calc(50% - 170px);
    }

    .blackEllipse {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #2a2a2a;
      border-radius: 50%;
      color: #616161;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      right: 40px;
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
    }
  }

  .styledCommunityCard {
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    top: 230px;
    max-width: 180px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    @include media-ltl-xm {
      max-width: 120px;
    }
    .cardContainer {
      margin-right: 0.5;
      border-style: unset;
      margin-left: 8px;
      margin-top: 8px;
      border-width: 2px;
      border-radius: 7px;
    }
  }

  .buttonContainerParent {
    display: flex;
    justify-content: center;
    @media all and (display-mode: standalone) {
      /* only apply if app is running standalone */
      height: 65vh;
    }
  }

  .buttonContainerParentBottom {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .turnButtonContainer {
    padding-top: 575px;
    padding-left: 20px;
    padding-right: 20px;
    width: 374px;
    @media screen and (max-width: 767px) and (display-mode: standalone) {
      /* only apply if app is running standalone */
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      width: auto;
      margin-top: 60vh;
    }
    @media screen and (min-width: 768px) and (display-mode: standalone) {
      padding-top: 410px;
    }
    .turnButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 11px;

      width: 110px;
      height: 31px;

      border: 1px solid #67dd6c;
      box-sizing: border-box;
      border-radius: 8px;
      cursor: pointer;

      margin-left: 232px;
      margin-top: -30px;
      z-index: 10;
      position: absolute;
      @media (max-width: 767px) {
        margin-top: 0px;
      }
      @media (max-width: 767px) and (display-mode: standalone) {
        margin-left: 70px;
        margin-top: 20px;
      }
      @media (min-width: 768px) and (display-mode: standalone) {
        margin-top: 20px;
      }
      .dot {
        margin-top: 0px;
        margin-left: 4px;
        background: #00ff0a;
        box-shadow: 0px 0px 4px rgba(4, 235, 68, 0.5);
        border-radius: 50%;
        width: 7px;
        height: 7px;
      }

      .title {
        margin-top: 2px;
        text-align: center;
        color: white;
        font-size: 11px;
      }
    }
  }

  .progressContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @media all and (display-mode: standalone) {
      /* only apply if app is running standalone */
      margin-bottom: 0px;
    }
    .progress {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      span {
        color: #ffffffbf;
        font-size: 8px;
        line-height: normal;
        font-weight: normal;
      }
    }
  }

  .actionButtonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    opacity: 1;
    @include media-ltl-xm {
      margin-top: 0px;
    }
    @media all and (display-mode: standalone) {
      /* only apply if app is running standalone */
      margin-top: 2vh;
    }
    button {
      display: inline-block;
      border-radius: 8px;
      border-width: 0px;
      width: 110px;
      height: 70px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      margin: 5px;
      color: white;

      &:nth-of-type(1) {
        background: #a82822;
        box-shadow: 0 4px #92120c;
        &:hover {
          background-color: #6a1a16;
        }
        &:active {
          background-color: #a82822;
          box-shadow: 4px #92120c;
        }
        &:disabled {
          background-color: #a82822;
          box-shadow: 4px #92120c;
          opacity: 0.4;
        }
      }
      &:nth-of-type(2) {
        background: #3d86a6;
        box-shadow: 0 4px #267ca1;
        &:hover {
          background-color: #306a82;
        }
        &:active {
          background-color: #3d86a6;
          box-shadow: 4px #267ca1;
        }
        &:disabled {
          background-color: #3d86a6;
          box-shadow: 4px #267ca1;
          opacity: 0.4;
        }
      }
      &:nth-of-type(3) {
        background: #3da65a;
        box-shadow: 0 4px #2b8c46;
        &:hover {
          background-color: #308247;
        }
        &:active {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
        }
        &:disabled {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
          opacity: 0.4;
        }
      }
      &:nth-of-type(4) {
        background: #3da65a;
        box-shadow: 0 4px #2b8c46;
        &:hover {
          background-color: #308247;
        }
        &:active {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
        }
        &:disabled {
          background-color: #3da65a;
          box-shadow: 4px #2b8c46;
          opacity: 0.4;
        }
      }
    }
  }

  .wonImageContainer {
    position: absolute;
    left: calc(50% - 90px);
    top: 570px;
    .potValueText {
      position: absolute;
      top: 56px;
      left: 46%;
      font-weight: 800;
      font-size: 11px;
      line-height: 13.13px;
      color: #fff;
    }
  }
}

.button_fold {
  display: inline-block;
  width: 10rem;
  height: 4.2rem;
  margin: 3px;
  padding: auto;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 1rem;

  background-color: #a82822;
  box-shadow: 0 8px #92120c;
  &:hover {
    background-color: #6a1a16;
  }
  &:active {
    background-color: #a82822;
    box-shadow: 8px #92120c;
  }
  transform: translateY(4px);
}

.button_check {
  display: inline-block;
  width: 10rem;
  height: 4.2rem;
  margin: 3px;
  padding: auto;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 1rem;

  background-color: #3d86a6;
  box-shadow: 0 8px #267ca1;
  &:hover {
    background-color: #306a82;
  }
  &:active {
    background-color: #3d86a6;
    box-shadow: 8px #267ca1;
  }
  transform: translateY(4px);
}

.button_bet {
  display: inline-block;
  width: 10rem;
  height: 4.2rem;
  margin: 3px;
  padding: auto;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 1rem;

  background-color: #3da65a;
  box-shadow: 0 8px #2b8c46;
  &:hover {
    background-color: #308247;
  }
  &:active {
    background-color: #3da65a;
    box-shadow: 8px #2b8c46;
  }
  transform: translateY(4px);
}
.playerInfo {
  margin-top: 13px;
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 13px;

  .chipForBet {
    font-size: 15px;
    .betAmount {
      padding-top: 2px;
      font-weight: bold;
      color: white;
      margin-bottom: 2px;
    }
  }
  @media (max-width: 767px) {
    left: calc(50% - 150px);
  }
}
