@import "/styles/mixins";

.leaderBoardBody {
  display: flex;
  width: 350px;
  right: 0px;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  z-index: 11000;
  transition: max-height 0.5s;
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background-color: #1f1f1f;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #484848;
  }
  
  @include media-tablet768 {
    width: 100%;
    transition: max-height 0.5s;
  }
  .leaderBoardField {
    overflow: hidden;
    background: #1f1f1f;
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 0px 0px;
    margin: 0px;
    padding: 0px 42px;
    width: 100%;

    &:nth-of-type(1) {
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
      color: white;
    }

    .closeIcon {
      top: -55px;
      left: 15px;
      position: absolute;
      background: #1f1f1f;
      box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
      border-radius: 24px;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .title {
      margin-left: 8px;
      margin-right: 8px;
      margin-top: 18px;
      text-align: center;
    }

    .scoreTab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgba(255, 255, 255, 0.75);
      font-weight: bold;
      font-size: 14px;
      margin-top: 18px;
    }
    .leaderBoardContentContainer {
      height: 310px;
      overflow: auto;
      @include media-tablet768 { 
        height: 400px;
      }
    }
    .leaderBoardContent {
      display: flex;
      margin-top: 2px;

      .starImgContainer {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-right: 10px;
        margin-left: -16px;
      }

      .scoreField {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        line-height: 18px;
        font-size: 15px;
        width: 100%;

        .percentile {
          width: 75px;
        }

        .ice {
          margin-left: -16px;
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
        }

        .chipField {
          padding: 1px 8px 1px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 127.143px;
          color: white;
          font-size: 12px;
          font-weight: 600px;

          .chipAmount {
            margin-top: 2px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}
