
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled,
.btn:active,
.btn:hover,
.btn:focus,
.btn:disabled,
.btn.disabled {
  color: white !important;
  box-shadow: none !important;
}

.btn:hover,
.btn-primary:hover {
  filter: brightness(0.9) !important;
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('/fonts/Larsseit/Larsseit-Bold.otf');
}