@font-face {
  font-family: 'Larsseit-ExtraBold';
  src: url('/fonts/Larsseit/Larsseit-ExtraBold.otf');
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('/fonts/Larsseit/Larsseit-Bold.otf');
}

@font-face {
  font-family: 'Larsseit';
  src: url('/fonts/Larsseit/Larsseit.otf');
}