html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Larsseit-BoldItalic';
  background-color: #1c1c1e;
}
html{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Larsseit-BoldItalic';
  src: url('/public/fonts/Larsseit/Larsseit-BoldItalic.otf');
}
