@import 'styles/base.scss';

.container {
	display: flex;
	justify-content: center;

	.button_connect {
		position: absolute;
		z-index: 10;
		height: 68px;
		width: calc(100vw - 48px);
		max-width: 400px;
		background: #006EFF;
		border-radius: 12px;
		bottom: 24px;
	}

	.button_span {
		display: flex;
		justify-content: center;

		.button_image {
			height: 35px;
			margin-left: -24px;
			margin-right: 24px;
		}

		.button_text {
			font-family: Larsseit-Bold;
			font-size: 18px;
			color: white;
			line-height: 40px;
		}
	}
}